body {
    background-color: #f6f6f2;
}

.name {
    background-color: #388087;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -7px;
}

h1 {
    max-width: 35%;
    font-size: 40px;
    color: #c2edce;
}

.name a{
    position: relative;
    float: right;
    margin-top: -73px;
    font-size: 30px;
    color: #c2edce;
}

a {
    max-width: 100%;
    height: 30%;
    margin: 31px;
    padding: 6px;
}

a:hover {
    color: white;
}

.chart-wrap {
    height: 635px;
    width: 500px;
    padding-left: 40px;
    padding-top: 40px;
}

.chart-wrap .grid{
    position: relative;
    height: 64%;
    width: 100%;
    border: 1px solid;
    background: repeating-linear-gradient(90deg, transparent, transparent 14%, rgba(0,0,0,0.5) 14.5%);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: 26%;
    background-color: #6fb3b8;
    margin: 30px 0;
    border-radius: 0 3px 3px 0;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    display: inline-block;
    padding: 10px;
    margin-left: 100%;
}

.chart-wrap.vertical::before {
    content: "0";
    position: absolute;
    margin-top: -18px;
    margin-left: -4px;
}

.chart-wrap::after {
    content: "1400";
    position: absolute;
    margin-top: -426px;
    margin-left: 485px;
}